<% 
filter_field = options[:field] 
date_field = options[:field].to_sym
%>
<%= calendar_includes %>

<div id="date_filter_content">
<% form_tag(url_for_options, :method => :get, :id => "frm_calendar") do  %>
  <%= build_hidden_field_tags(link) %>
  
  <% year_range = ((options[:year_start] || 2000)..(options[:year_end] || Time.now.year)) %>
  <% calendar_options = {:popup => true, :year_range => year_range} %>
  
  
  <p><label for="<%= "filter_" + date_field.to_s %>"><%= t('ubiquo.base.date') %></label>
  <%= calendar_date_select_tag date_field, params[date_field], 
        calendar_options.merge(:id => "filter_" + date_field.to_s) %></p>
  
  <p><%= submit_tag t('ubiquo.search'), :class => 'filter_submit' %></p>
<% end %>
</div>
