<h1><%= render :partial => 'title' %></h1>
<h2><%= render :partial => 'submenu' %></h2>

<%= render :partial => "shared/ubiquo/feedback" %>

<% if @contexts.present? %>
  <div id="contexts">
    <% @contexts.each do |context, settings| %>
      <h3 class="context-header"><%= UbiquoSetting.context_translated(context) %></h3>
      <%= ubiquo_setting_list(context, settings) %>
    <% end %>
  </div>
  <% form_tag ubiquo_ubiquo_settings_path, {:onSubmit  => "return collectAndSendValues();return false;",
                                      :id => "bulk_submit"} do %>
    <div class="form-item-submit">
    <%= submit_tag t('ubiquo.ubiquo_setting.index.save_all')  %>
    </div>
  <% end %>
<% else %>
  <%= render_empty_list_message %>

<% end %>
<% content_for :sidebar do %>
  <%# help_block_sidebar t("ubiquo.ubiquo_setting.index.help_message") %>
<% end %>
